
  /* Navbar Title */
  .navbar-title {
    font-size: 19px;
    font-weight: bold;
    color: white;
    text-align: center;
    flex-grow: 0;
    margin-left: 4px;
  } /* Centering */
  
  /* Search Form */
  .search-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }
  
  .search-container input {
    width: 250px;
    border-radius: 5px;
    padding: 5px;
  }
  
  .search-container button {
    border-radius: 5px;
  }
  
  /* spinner */
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    min-height: 20vh; /* Adjust this to control how far below the title it appears */
    margin-top: 10px; /* Adjust spacing */
  }
  
  .backbtn{
    background-color: rgb(190, 100, 44) !important;
  }

  /* add city */
  .add-city-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    margin-top: -18px; /* Adjust spacing from city grid */
    margin-left: 155px;
  }
  
  .add-city-btn {
    font-size: 14px;
    padding: 5px 10px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    margin-left: 168px;
  }
  
  .add-city-btn:hover {
    background: #0056b3;
  }
  .form-control:focus {
    border-color: #28a745 !important;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25) !important;
  }